* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444;
    background-color: #fff;
}

.container {
    max-width: 1150px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* BUTTON  */
.button {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    border: 2px solid #DE2E54;
    font-weight: 700;
    background-color: #DE2E54;
    color: #fff;
}

.button:hover{
    opacity: .8;
    
}

.button--outline:hover{
    background-color: transparent;
    color: #DE2E54;
}



/* SITE-HEADER  */
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin-right: 16px;
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}
.site-logo-text{
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s ease;
}
.site-logo-text:hover{
    color: #DE2E54;
    transition: color 0.4s ease;
}


.sitenav {
    margin-right: 20px;
    margin-left: 20px;
}

.sitenal-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: color 0.4s ease;
}

.sitenav-link:hover {
    color: #DE2E54;
    transition: color 0.4 ease;                                                                                                                                                         
}
/* /header */

/* Main */
.site-main {
    background-color: #0EB4C1;
    
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    
    
}
.main-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-wrapper {
    max-width: 500px;
    width: 100%;
}

.hero-content-title {
    margin-bottom: 16px;
    font-family: 'Open Sans Condensed';
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
    
    
}
.paragraph-hero{
    max-width: 440px;
    width: 100%;
}

.hero-content-text {
    margin-bottom: 36px;
    font-family: 'open sans';
    font-weight: 400;
    font-size: 18px;
}
.main-link-button {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: #DE2E54;
    color: #fff;
}





/*/ main */